
@{
    Layout = "_Layout";
}

<div class="container col-12 h-75  d-flex justify-content-center flex-wrap w-100">
    <div class="col-12 d-flex justify-content-center">
        <div class="col-3"></div>
        <div class="col-6 d-flex justify-content-center">
            <img style="height:60vh" class="w-100 col-12 " src="~/img/file-------------------------------------1x-png-10@1x.png" alt="mainImag" />

        </div>
        <div class="col-3"></div>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <p class="text-center" style="color:#4281BE ">
            إعلاني هي منصة تابعة لجريدة ام القرى تتيح خدمة الإعلانات للجهات الحكومية بأنواعها إعلانات مجانية إعلانات مدفوعة و إعلانات مفوتر
        </p>
 </div>
      
        <div class="col-12 d-flex justify-content-center">
    <a href="/Account/SignIn" class="btn text-light" style="background-color:#4281BE  ">
         
                  تسجيل الدخول
            
        </a>

        </div>
</div>
 