<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Task1.styles.css" asp-append-version="true" />
</head>
<body dir="rtl" lang="ar">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img width="100px" height="70px" src="~/img/logo.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li style="border : 2px solid #4281BE" class="nav-item m-2 rounded">
                            <a class="nav-link text-primary m-2 rounded" href="/Home/Index">عن المنصة </a>
                        </li>
                        <li style="border : 2px solid #4281BE" class="nav-item m-2 rounded ">
                            <a class="nav-link text-primary m-2 rounded" asp-action="ContactUs" asp-controller="Home">اتصل بنا</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-light">
        <div style="background-color:#4281BE" class=" text-center">

            <p class="text-1-1 poppins-medium-white-19px">جميع الحقوق محفوظة لجريدة ام القرى 2023®</p>
            <p class="text-11 neusanextstd-bold-white-26px">الدعم الفني | سياسة الخصوصية</p>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
