/* screen - web-1920-24 */

.web-1920-24 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 1080px;
  overflow: hidden;
  width: 1943px;
}

.web-1920-24 .overlap-group2 {
  height: 983px;
  margin-left: -17px;
  margin-top: -15px;
  position: relative;
  width: 2004px;
}

.web-1920-24 .overlap-group {
  height: 144px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2004px;
}

.web-1920-24 .path-2879 {
  height: 98px;
  left: 0;
  top: 0;
  width: 2004px;
}

.web-1920-24 .text-89 {
  cursor: pointer;
  left: 66px;
  line-height: 25px;
  text-align: center;
  top: 46px;
  white-space: nowrap;
}

.web-1920-24 .text-90 {
  cursor: pointer;
  left: 1711px;
  line-height: 25px;
  text-align: center;
  top: 47px;
  white-space: nowrap;
}

.web-1920-24 .text-91 {
  cursor: pointer;
  left: 1441px;
  line-height: 25px;
  text-align: center;
  top: 59px;
  white-space: nowrap;
}

.web-1920-24 .text-92 {
  cursor: pointer;
  left: 1284px;
  line-height: 25px;
  text-align: center;
  top: 50px;
  white-space: nowrap;
}

.web-1920-24 .img_2211 {
  height: 79px;
  left: 1835px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 126px;
}

.web-1920-24 .path-2884 {
  height: 774px;
  left: 523px;
  top: 118px;
  width: 836px;
}

.web-1920-24 .text-93 {
  height: 53px;
  left: 857px;
  line-height: 33px;
  text-align: left;
  top: 150px;
  width: 295px;
}

.web-1920-24 .group-161697 {
  border-radius: 37px;
  height: 50px;
  left: 987px;
  top: 555px;
  width: 325px;
}

.web-1920-24 .rectangle-147717 {
  left: 977px;
  top: 646px;
}

.web-1920-24 .path-2887 {
  height: 41px;
  left: 851px;
  top: 554px;
  width: 1px;
}

.web-1920-24 .group-161696 {
  border-radius: 7px;
  height: 18px;
  left: 1185px;
  top: 537px;
  width: 112px;
}

.web-1920-24 .group-161698 {
  border-radius: 37px;
  height: 50px;
  left: 979px;
  top: 735px;
  width: 325px;
}

.web-1920-24 .group-161699 {
  border-radius: 7px;
  height: 18px;
  left: 1186px;
  top: 629px;
  width: 112px;
}

.web-1920-24 .group-161700 {
  border-radius: 7px;
  height: 18px;
  left: 1134px;
  top: 727px;
  width: 156px;
}

.web-1920-24 .text-94 {
  left: 1094px;
  line-height: 12px;
  text-align: center;
  top: 667px;
  white-space: nowrap;
}

.web-1920-24 .text-95 {
  left: 1126px;
  line-height: 12px;
  text-align: center;
  top: 576px;
  white-space: nowrap;
}

.web-1920-24 .text-96 {
  left: 1055px;
  line-height: 12px;
  text-align: center;
  top: 760px;
  white-space: nowrap;
}

.web-1920-24 .text-97 {
  height: 22px;
  left: 1102px;
  line-height: 14px;
  top: 629px;
  width: 182px;
}

.web-1920-24 .text-98 {
  height: 22px;
  left: 1086px;
  line-height: 14px;
  top: 535px;
  width: 182px;
}

.web-1920-24 .text-99 {
  height: 17px;
  left: 1134px;
  line-height: 14px;
  top: 727px;
  width: 150px;
}

.web-1920-24 .group-161701 {
  border-radius: 37px;
  height: 50px;
  left: 573px;
  top: 555px;
  width: 325px;
}

.web-1920-24 .rectangle-147719 {
  left: 573px;
  top: 646px;
}

.web-1920-24 .group-161702 {
  border-radius: 7px;
  height: 18px;
  left: 770px;
  top: 537px;
  width: 112px;
}

.web-1920-24 .group-161703 {
  border-radius: 7px;
  height: 18px;
  left: 770px;
  top: 633px;
  width: 112px;
}

.web-1920-24 .text-100 {
  height: 22px;
  left: 680px;
  line-height: 14px;
  top: 537px;
  width: 182px;
}

.web-1920-24 .text-101 {
  left: 696px;
  line-height: 12px;
  text-align: center;
  top: 576px;
  white-space: nowrap;
}

.web-1920-24 .text-102 {
  height: 22px;
  left: 690px;
  line-height: 14px;
  top: 637px;
  width: 182px;
}

.web-1920-24 .text-103 {
  left: 683px;
  line-height: 12px;
  text-align: center;
  top: 670px;
  white-space: nowrap;
}

.web-1920-24 .text-104 {
  height: 31px;
  left: 882px;
  line-height: 20px;
  text-align: left;
  top: 253px;
  width: 120px;
}

.web-1920-24 .base {
  background-color: var(--steel-blue);
  border-radius: 23px;
  height: 38px;
  left: 870px;
  position: absolute;
  top: 434px;
  width: 128px;
}

.web-1920-24 .text-105 {
  left: 889px;
  line-height: 15px;
  top: 446px;
  white-space: nowrap;
}

.web-1920-24 .path-2903 {
  height: 41px;
  left: 783px;
  top: 803px;
  width: 1px;
}

.web-1920-24 .group-161737 {
  border-radius: 7px;
  height: 18px;
  left: 762px;
  top: 719px;
  width: 112px;
}

.web-1920-24 .text-106 {
  height: 22px;
  left: 680px;
  line-height: 14px;
  top: 722px;
  width: 182px;
}

.web-1920-24 .rectangle-147725 {
  left: 573px;
  top: 736px;
}

.web-1920-24 .text-107 {
  left: 703px;
  line-height: 12px;
  text-align: center;
  top: 755px;
  white-space: nowrap;
}

.web-1920-24 .path-2894 {
  height: 411px;
  left: 1209px;
  top: 572px;
  width: 569px;
}

.web-1920-24 .checkbox {
  height: 86px;
  left: 1415px;
  object-fit: cover;
  position: absolute;
  top: 630px;
  width: 121px;
}

.web-1920-24 .text-108 {
  left: 1404px;
  line-height: 24px;
  text-align: center;
  top: 801px;
  white-space: nowrap;
}

.web-1920-24 .overlap-group1 {
  height: 236px;
  margin-left: 0;
  position: relative;
  width: 2051px;
}

.web-1920-24 .path-2878 {
  height: 100px;
  left: 0;
  top: 0;
  width: 1920px;
}

.web-1920-24 .text-8 {
  height: 185px;
  left: 813px;
  line-height: 38px;
  text-align: left;
  top: 50px;
  width: 810px;
}

.web-1920-24 .text-8-1 {
  direction: rtl;
  height: 73px;
  left: 813px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: left;
  top: 7px;
  width: 1193px;
}

.web-1920-24 .path-2882 {
  height: 100px;
  left: 0;
  top: 0;
  width: 2051px;
}

.web-1920-24 .group {
  background-color: var(--white);
  position: absolute;
}

.web-1920-24 .path {
  object-fit: cover;
  position: absolute;
}

.web-1920-24 .rectangle {
  background-color: var(--white);
  border-radius: 37px;
  height: 50px;
  position: absolute;
  width: 325px;
}

.web-1920-24 .text {
  direction: rtl;
  letter-spacing: 0;
  position: absolute;
}
